:root {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: "Spartan", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  position: relative;
}

.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: -9;
}

.bg-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .bg-mobile {
    display: block;
  }
  .bg-desktop {
    display: none;
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top__info {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.top__info h1 {
  font-size: 3rem;
  line-height: 1;
  color: #502050;
}

.top__info p {
  max-width: 460px;
  margin-top: 20px;
  color: #937b92;
}

.top__rates {
  margin-left: 10%;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top__item {
  background-color: #f7f2f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  border-radius: 10px;
  width: 80%;
}

.top__item + .top__item {
  margin-top: 15px;
}

.top__item--2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.top__item--3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.top__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.top__stars svg + svg {
  margin-left: 5px;
}

.top__rated-in {
  margin-left: 30px;
  font-weight: bold;
  color: #502050;
}

@media screen and (max-width: 900px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top__info {
    text-align: center;
    margin: 0 auto 60px;
  }
  .top__info h1 {
    margin-bottom: 15px;
    font-size: 2.5rem;
  }
  .top__rates {
    margin-left: 0;
    width: 100%;
  }
  .top__item {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top__rated-in {
    margin-top: 15px;
  }
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  -ms-grid-rows: 250px;
      grid-template-rows: 250px;
  gap: 30px;
  margin-top: 105px;
}

.testimonials .card {
  background: #502050;
  padding: 40px 30px;
  border-radius: 10px;
  color: #f7f2f7;
}

.testimonials .card--1 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.testimonials .card--2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testimonials .card--3 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.testimonials .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .card__profile-pic img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonials .card__name {
  font-size: 0.875rem;
  margin-bottom: 1px;
}

.testimonials .card__status {
  font-weight: 500;
  font-size: 0.75rem;
  color: #937b92;
}

.testimonials .card__quote {
  margin-top: 15px;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1.7;
  color: #f7f2f7;
}

@media screen and (max-width: 900px) {
  .testimonials {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 15px;
    margin-top: 60px;
  }
  .testimonials .card__quote {
    font-size: 0.875rem;
  }
}

.attribution {
  margin-top: 60px;
}
/*# sourceMappingURL=main.css.map */