:root {
  font-size: 15px;
}

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: "Spartan", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  position: relative;
}

.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: -9;
}

.bg-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .bg-mobile {
    display: block;
  }

  .bg-desktop {
    display: none;
  }
}

.top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__info {
    flex: 4;
    h1 {
      font-size: 3rem;
      line-height: 1;
      color: $very-dark-magenta;
    }
    p {
      margin-top: 10px;
      color: $dark-grayish-magenta;
    }
  }

  &__rates {
    margin-left: 10%;
    flex: 5;
    display: flex;
    flex-direction: column;

  }

  &__item {
    background-color: $light-grayish-magenta;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    width: 80%;
    & + & {
      margin-top: 15px;
    }

    &--2 {
      align-self: center;
    }

    &--3 {
      align-self: flex-end;
    }
  }

  &__stars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;

    svg + svg {
      margin-left: 5px;
    }
  }

  &__rated-in {
    margin-left: 30px;
    font-weight: bold;
    color: $very-dark-magenta;
  }
}

@media screen and (max-width: 900px) {
  .top {
    flex-direction: column;
    &__info {
      text-align: center;
      margin: 0 auto 60px;
      h1 {
        margin-bottom: 15px;
        font-size: 2.5rem;
      }
    }
    
    &__rates {
      margin-left: 0;
      width: 100%;
    }

    &__item {
      width: 100%;
      flex-direction: column;
    }

    &__rated-in {
      margin-top: 15px;
    }
  }
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: 230px;
  gap: 30px;
  margin-top: 105px;
  
  .card {
    background: $very-dark-magenta;
    padding: 30px;
    border-radius: 10px;
    color: $light-grayish-magenta;

    &--1 {
      align-self: start;
    }

    &--2 {
      align-self: center;
    }

    &--3 {
      align-self: end;
    }

    &__header {
      display: flex;
      align-items: center;
    }

    &__profile-pic {
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }

    &__name {
      font-size: 0.875rem;
      margin-bottom: 1px;
    }

    &__status {
      font-size: 0.875rem;
      color: $dark-grayish-magenta;
    }

    &__quote {
      margin-top: 15px;
      font-size: 0.75rem;
      letter-spacing: 0.01rem;
      line-height: 1.7;
      color: $light-grayish-magenta;
    }
  }
}

@media screen and (max-width: 900px) {
  .testimonials {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
    margin-top: 60px;

    .card {
      &__quote {
        font-size: 0.875rem;
      }
    }
  }
}

.attribution {
  margin-top: 60px;
}